# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws
out/

# Fabric / Minecraft Run Directories
run/
runClient/
runServer/
runData/

# Java / OS files
*.class
*.log
.DS_Store
Thumbs.db